.container
  header.header
    h1.header__title Justin Kwak
    h2.header__sub-title Product Designer from Atlanta who<br>loves to design solutions for businesses

  .row
    .col
      .about
        h3.about__title This portfolio is currently a <i>work in progress</i>.
        p.about__description I am in the process of updating my portfolio with new case studies and biography.<br><br>For the time being, you can browse some of my work on <a href="https://dribbble.com/justinkwak">Dribbble</a>, chat with me on <a href="https://twitter.com/kwak_justin">Twitter</a>, and connect with me on <a href="https://www.linkedin.com/in/kwakjustin">LinkedIn</a>.<br><br>If you want to get in touch directly, you can also <a href="mailto:me@justinkwak.com">email me</a> as well.<br><br>Thank you!
        
    .col
      img(src="http://placehold.it/444x540" alt="Justin Kwak")